.btn-wrapper {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  border: none;
  border-radius: 0px;
  min-width: 140px;
  padding: 7px;
  color: rgb(235, 247, 7);
  font-size: 20px;
  background-color: #000000da;
 cursor: pointer;
}
.btn:active,
.btn:focus {
  outline: none;
}

